# Exercise

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/stadtsalat/Documents/Instacart Basket Analysis'

In [4]:
# Importing 'orders_products_merged_new.pkl'

df_orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_new.pkl'))

In [5]:
# Creating a subset
df = df_orders_products_merged[:1000000]

In [6]:
df.shape

(1000000, 19)

In [7]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

## Grouping Data with pandas

In [8]:
df.groupby('product_name')

## Aggregating Data with agg()

In [9]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [10]:
# Grouping without agg()
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [11]:
# Performing Multiple Aggregations
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## Aggregating Data with transform()

In [12]:
df_orders_products_merged['max_order'] = df_orders_products_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
df_orders_products_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

## Deriving Columns with loc()

In [14]:
# Creating a flag
df_orders_products_merged.loc[df_orders_products_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
df_orders_products_merged.loc[(df_orders_products_merged['max_order'] <= 40) & (df_orders_products_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
df_orders_products_merged.loc[df_orders_products_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
df_orders_products_merged['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
df_orders_products_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# Task

In [17]:
# QN 2 -- Repeat this process for the entire dataframe
df_orders_products_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

QN 3 -- By running the code for the whole dataset we see that some of the department_id mean values changed. That makes sense, as we are not any more using the limited dataset.

QN 4 is done. Please check above.

In [18]:
# QN 5 -- Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer)
df_orders_products_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

The prices of products purchased by loyal customers differ from those purchased by regular or new customers. The loyal customers spend the least in terms of average price per item and they contribute to the total revenue leass than the regular customers. 
The new customers are buying on average the most expensive items.

In [19]:
# QN 6 -- First we need to create a new column with the average price
df_orders_products_merged['avg_price']=df_orders_products_merged.groupby(['user_id'])['prices'].transform(np.max)

In [20]:
df_orders_products_merged['avg_price']

0           14.0
1           14.0
2           14.0
3           14.0
4           14.0
            ...
32404854    24.0
32404855    24.0
32404856    14.4
32404857    14.4
32404858    24.9
Name: avg_price, Length: 32404859, dtype: float64

In [21]:
df_orders_products_merged.head(5)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,14.0
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,14.0
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,14.0
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,14.0

In [22]:
# Now we need to create the spending_flag
df_orders_products_merged.loc[df_orders_products_merged['avg_price'] < 10, 'spending_flag']='Low spender'
df_orders_products_merged.loc[df_orders_products_merged['avg_price'] >= 10, 'spending_flag']='High spender'

In [23]:
# Here we count the values for the new flag
df_orders_products_merged['spending_flag'].value_counts(dropna=False)

High spender    32372969
Low spender        31890
Name: spending_flag, dtype: int64

In [24]:
# Here we check the results
df_orders_products_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,14.0,High spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,14.0,High spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,14.0,High spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,14.0,High spender
5,3367565,1,6,2,7,19.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,14.0,High spender
6,550135,1,7,1,9,20.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender
7,3108588,1,8,1,14,14.0,False,196,2,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender
8,2295261,1,9,1,16,0.0,False,196,4,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender
9,2550362,1,10,4,8,30.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender
10,2968173,15,15,1,9,7.0,False,196,2,0,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender
11,1870022,15,17,2,16,8.0,False,196,6,1,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,9.0,Low spender
12,1911383,15,18,2,11,7.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,9.0,Low spender
13,2715276,15,21,1,9,7.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender
14,487368,15,22,1,10,14.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender

In [25]:
# QN 7 -- We need to use the same process as above
df_orders_products_merged['median_order']=df_orders_products_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

In [26]:
df_orders_products_merged['median_order']

0           30.0
1           30.0
2           30.0
3           30.0
4           30.0
            ...
32404854    30.0
32404855    30.0
32404856    30.0
32404857    30.0
32404858    30.0
Name: median_order, Length: 32404859, dtype: float64

In [27]:
df_orders_products_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,14.0,High spender,30.0
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0
5,3367565,1,6,2,7,19.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,14.0,High spender,30.0
6,550135,1,7,1,9,20.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender,30.0
7,3108588,1,8,1,14,14.0,False,196,2,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender,30.0
8,2295261,1,9,1,16,0.0,False,196,4,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender,30.0
9,2550362,1,10,4,8,30.0,False,196,1,1,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0
10,2968173,15,15,1,9,7.0,False,196,2,0,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,9.0,Low spender,21.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,9.0,Low spender,21.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0

In [28]:
df_orders_products_merged.loc[df_orders_products_merged['median_order'] > 20, 'order_frequency_flag']='Non-frequent customer'
df_orders_products_merged.loc[(df_orders_products_merged['median_order'] > 10)&(df_orders_products_merged['median_order'] <= 20), 'order_frequency_flag']='Regular customer'
df_orders_products_merged.loc[df_orders_products_merged['median_order'] <= 10, 'order_frequency_flag']='Frequent customer'

In [29]:
df_orders_products_merged['order_frequency_flag'].value_counts(dropna=False)

Non-frequent customer    24487186
Regular customer          6533511
Frequent customer         1384157
NaN                             5
Name: order_frequency_flag, dtype: int64

In [30]:
# Checking the results
df_orders_products_merged.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_order,order_frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
5,3367565,1,6,2,7,19.0,False,196,1,1,...,Mid-range product,Regularly busy,Regulary busy days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
6,550135,1,7,1,9,20.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
7,3108588,1,8,1,14,14.0,False,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
8,2295261,1,9,1,16,0.0,False,196,4,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
9,2550362,1,10,4,8,30.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,14.0,High spender,30.0,Non-frequent customer
10,2968173,15,15,1,9,7.0,False,196,2,0,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
11,1870022,15,17,2,16,8.0,False,196,6,1,...,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
12,1911383,15,18,2,11,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Regulary busy days,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
13,2715276,15,21,1,9,7.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
14,487368,15,22,1,10,14.0,False,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0,Low spender,21.0,Non-frequent customer
15,2293453,19,2,5,14,6.0,False,196,3,0,...,Mid-range product,Regularly busy,Regulary busy days,Most orders,9,New customer,23.9,High spender,20.0,Regular customer
16,1973799,19,5,6,12,8.0,False,196,15,1,...,Mid-range product,Regularly busy,Regulary busy days,Most orders,9,New customer,23.9,High spender,20.0,Regular customer
17,532817,19,7,4,17,6.0,False,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,23.9,High spender,20.0,Regular customer
18,1573906,21,10,3,10,6.0,False,196,2,0,...,Mid-range product,Regularly busy,Slowest days,Most orders,33,Regular customer,15.0,High spender,30.0,Non-frequent customer
19,1593000,31,10,3,8,7.0,False,196,17,0,...,Mid-range product,Regularly busy,Slowest days,Average orders,20,Regular customer,24.1,High spender,10.0,Frequent customer

In [31]:
# QN 9 --- Exporting to PKL
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_task48.pkl'))

In [33]:
#We saw from the scatterplot that we have outliers and here we are looking for them
#Fixing the outliers by turning them into nans
df_orders_products_merged.loc[df_orders_products_merged['prices'] >100, 'prices'] = np.nan

In [35]:
# Checking the result 
df_orders_products_merged['prices'].max()

25.0

In [36]:
# QN 9 --- Exporting to PKL
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_task48.pkl'))